<html> 
<head>
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  {!INCLUDE($SControl.css)}
  {!INCLUDE($SControl.application_js, [parent_type='Lead'])}
</head>

{!INCLUDE($SControl.body)}
</html>